* {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
}

#dashboardMainContainer {
    display: flex;
    flex-direction: row;
    background: #f4f6f9;
}

/* Sidebar */
.dashboard_sidebar {
    width: 18%;
    height: 100vh;
    background: #323232;
    color: #fff;
    padding: 0;
    margin: 0;
    z-index: 5;
}

#toggleBtn img {
    width: 1.4rem;
    padding: .3rem .3rem;
}

.toggleBtnContainer {
    background: #323232;
    width: 2.3rem;
    height: 2.3rem;
}

.dashboard_content_container{
    width: 80%;
}

.dashboard_logo{
    text-align: center;
    margin: 1rem 1rem;
    font-size: 2rem;
}

.dashboard_sidebar_user {
    margin-bottom: 1rem;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid#4d4d4d;
    padding-bottom: 1rem;
}

.dashboard_sidebar_user img {
    margin: 0 auto;
    display: flex;
    width: 6rem;
}

.dashboard_sidebar_user span {
    font-size: 1.3rem;
}

.dashboard_sidebar_user #name {
    font-size: .8rem;
}

.dashboard_sidebar #userRole {
    font-size: 1.5rem;
}

.dashboard_menu_lists {
    padding-left: 0;
    margin-left: 0;
}

.dashboard_menu_lists li {
    padding: 5px;
    list-style: none;
    border-bottom: 2px solid #4d4d4d;
}

.dashboard_menu_lists a {
    color: #fff;
    text-decoration: none;
}

.dashboard_menu_lists img {
    width: 1.5rem;
    margin-right: .8rem;
    margin-left: .8rem;
    margin-bottom: -.2rem;
}

.dashboard_menu_lists li a.menuactive {
    background: #4d4d4d;
}

.dashboard_menu_lists li:hover {
    background: #4d4d4d;
    transition: 0.3s all ;
}

/* Main Content */
.dashboard_topNav {
    background: #fff;
    padding: .5rem;
    border-radius: 10px;
}

.dashboard_topNav a{
    color: #848383;
    font-size: 1rem;
    text-decoration: none;
}

.dashboard_topNav img {
    width: 1.5rem;
    margin-right: .3rem;
    margin-bottom: -.2rem;
}

#logoutBtn {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    padding: .3rem .3rem;
    margin-top: 1rem;
    background  : #ff4c4c;
    border-radius: 10px;
    color: #fff;
}

#logoutBtn:hover {
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

.dashboard_content {
    padding: 2rem .3rem .3rem .3rem;
}

.dashboard_content_main {
    background: #fff;
    height: 80vh;
    border-radius: 10px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    z-index: 0;
}

/* Form */
.appFormContainer {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.2); 
    overflow-x: auto;
    overflow-y: auto;
}

.appForm {
    width: 50%;
    margin: 0 auto;
    padding: 1.2rem;
    border: 1px solid #cecfd0;
    border-radius: 5px;
    background: #f1f1f1;
    margin-top: 10%;
    margin-left: 33%;
}

.appForm::after {
    content: '';
    clear: both;
    display: block;
}

.appFormFields {
    margin-bottom: .3rem;
}

.appFormInput {
    width: 95%;
}

.userInfo, .userContacts, .passAndRole, .row{
    width: 50%;
    display: inline-block;
    margin-right: .2rem;
}

#lastName, #guardianLastName, #childLastName {
    width: 28%;
    margin-right: .7rem;
}

#age, #guardianAge, #childAge {
    width: 13%;
}

#contactNumber{
    width: 46%;
}

.row {
    width: 48%;
}

#role {
    width: 7rem;
    margin-top: .5rem;
    font-size: 1rem;
}

#role select {
    font-size: .9rem;
}

#confirmBtn {
    float: right;
    width: 5.5rem;
    font-size: 14px;
    height: auto;
    margin-right: 2rem;
    margin-top: .3rem;
    background: #323232;
    border-radius: 10px;
    color: #fff;    
}
.btnContainer {
    margin-right: 1rem;
}

.buttons {
    float: right;
    width: 6rem;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid black;
    bottom: 0;
    margin-top: .7rem;
    margin-right: 0.7rem;
}

.buttons img {
    width: 1rem;
    margin-right: .5rem;
    margin-bottom: -.2rem;
}

#addBtn {
    background: #98EF8D;
}

#updateBtn {
    background: #FFEC8C;
}

#deleteBtn {
    background: #FF9393;
}

#confirmBtn:hover {
    cursor: pointer;
    font-weight: 700;
}

.buttons:hover {
    background: #d1ffd1;
    cursor: pointer;
    font-weight: 500;
    border: 1.5px solid black;
}

#closeBtn {
    float: right;
    font-size: 1.5rem;
    width: 1rem;
}

#closeBtn:hover {
    color: red;
    cursor: pointer;
    font-weight: 500;
}

.responseMessage {
    text-align: center;
    font-weight: 600;
}

.responseMessage__success {
    color: green;
}

.responseMessage__error {
    color: red;
}

/* Healthcare Workers Table */
.appTableContainer {
    height: 70%;
    width: 95%;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 5px;
}

.appTable {
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    background:  #f4f6f9;
    padding: .5rem;
    border-collapse: collapse;
}

.appTable thead tr {
    background: #cecfd0;
    padding: 1rem;
    border-radius: 10px;
}

.appTable th, td {
    padding: .5rem;
}

.appTable td {
    font-size: .8rem;
    text-align: center;
    padding: .3rem .7rem;
    border-right: 2px solid #fcfafa;
    white-space: nowrap;
}

/* Patient Form */
.patientForm {
    height: 80vh;
    overflow-y: auto;
    margin-top: 2rem;
}

#guardianLbl, #childLbl {
    border-bottom: 1px solid #4d4d4d;
    margin-bottom: 1.3rem;
}

#childLbl {
    margin-top: 1.3rem;
}

/* Dashboard Content */
.totals-container {
    margin-left: 10vw;
}

.total {
    margin: .5rem 5rem 1rem 1rem;
    text-align: center;
    display: inline-block;
}

.total h1 {
    font-size: 40px;
}

.total-content {
    background: #323232;
    border-radius: 10px;
    color: #fff;    
    width: 19rem;
    height: 10rem;
}

.total-content img {
    margin: 50px 60px -20px 15px;
    width: 65px;
}

/* Delete Form */
#appForm h4, h3 {
    text-align: center;
    margin-bottom: 1rem;
}

#appForm h3 {
    margin-left: 1rem;
}

.deleteForm, .updateForm {
    width: 30%;
    margin-left: 45%;
    margin-top: 10%;
    overflow-y: auto;
}

.deleteFormInput, .updateFormInput {
    width: 91%;
}

.hwUpdateFormContainer #confirmBtn {
    margin-top: 2rem;
}